.addcomp {
  margin: 10px;
  padding: 15px;
  height: 80vh;
  width: 15rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

textarea:focus {
  outline: none;
}
.comp {
  display: flex;
  margin-top: 10px;
}
.comp input {
  border: none;
  background-color: #d1d5db;
  width: 100%;
  padding: 8px;
  height: 20px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.comp p {
  background-color: #d1d5db;
  padding: 12px 8px;
  font-size: 10px;
  text-align: center;
  margin: 0px 5px 0px 0px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.addcomp textarea {
  background-color: #d1d5db;
  border: none;
  border-radius: 5px;
  width: 90%;
  height: 70px;
  padding: 10px;
}
.sm hr {
  border: 1px solid #d1d5db;
  height: 0px;
  width: 30%;
  background-color: #d1d5db;
}
.sm {
  color: #d1d5db;
  display: flex;
  padding-top: 10px;
}
.sm p {
  margin: 0px;
  padding-bottom: 15px;
}
.footer {
  display: flex;
  font-size: 15px;
}
.footer button {
  border: none;
  background-color: white;
  color: #60a5fa;
  margin-left: 30%;
  font-size: 12px;
}
